.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-gap: 2rem;
  margin: 1rem;
}

.movie-card {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(237, 236, 236);
  box-shadow: rgba(87, 93, 50, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: transform 0.2s ease-in-out;
}

img {
  width: 90%;
  height: 50vh;
  border-radius: .1rem;
  margin: 1rem;
}

.buttom-position {
  margin: 2rem .5rem;
  padding: .5rem;
  align-self: flex-end;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: rgba(252, 214, 205, 0.25) 0px 30px 60px -12px inset, rgba(118, 55, 255, 0.3) 0px 18px 36px -18px inset;
    transition: 1s;
}

@media (max-width: 500px) {
  .container{
    grid-template-columns: 1fr;
  }
  movie-card{
    width: 100%;
  }

@media only screen and (min-width: 501px) and (max-width: 912px){
  .container{
    grid-template-columns: repeat(2, 1fr);
  }
  movie-card{
    width: 100%;
  }

}}
