<section class="container">
  <mat-card class="movie-card" *ngFor="let movie of movies">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.genre }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="movie.imageUrl" alt="{{ movie.title }}">

    <mat-card-content>
      <p>{{ movie.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button (click)="addToWatchlist(movie)" *ngIf="!isOnWatchlist(movie)">Add to Watchlist</button>
      <button mat-button (click)="removeFromWatchlist(movie)" *ngIf="isOnWatchlist(movie)">Remove from Watchlist</button> -->
    </mat-card-actions>
  </mat-card>
</section>
